.navbar-toggler .navbar-nav mr-auto mt-2 mt-lg-0
{
    background-color: #000000;
    border-color: #ffffff;
    border-top: 1px solid #fff;
    border-radius: 0;
    border-left: none;
    border-right: none;
    color:white;
}