{% extends 'base.html' %}
{% block content %}
<br>
<br>
<style>
.card-body .card-text
{
    font-family: Times, "Times New Roman", serif;
}
</style>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{article.title|title}}</h5>
            <p class="card-text">{{article.description}}</p>
            <label>LastUpdated</label>
            <p class="card-text"><small class="text-muted">{{article.updated_at|date}}</small></p>
            <label>PostCreatedBy</label>
            <p class="card-text"><small class="text-muted">{{article.user|title}}</small></p>
        </div>

    </div>
</div>
{% endblock  %}
