{% extends 'base.html' %}
{% block content %}
<br>
<br>
<div class="container">

    {% if user.is_authenticated %}
    <div class="card border-dark mb-3" style="max-width: 18rem;" align="center">
        <div class="card-header">{{user.username|title}}</div>
        <div class="card-body text-dark">
            <h5 class="card-title">{{user.last_login|date}}</h5>
            <p class="card-text"><small class="text-muted">Number of posts {{count}}</small></p>
        </div>
    </div>
</div>
{% for article in articles %}
<div class="container">
    <div class="card border-dark mb-3" style="max-width: 100rem;">
        <div class="card-header"><a href="/detail/{{article.pk}}">{{article.title|title}}</a></div>
        <div class="card-body text-dark">
            <p class="card-text">{{article.description}}</p>
            <h5 class="card-title">{{article.user|title}}</h5>
            <p class="card-text">{{article.created_at|date}}</p>
            <a href="/update/{{article.pk}}" class="btn btn-secondary">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                <span><strong>Edit</strong></span>
            </a>
            <a href="/detail/{{article.pk}}" class="btn btn-primary a-btn-slide-text">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                <span><strong>View</strong></span>
            </a>
            <a href="/delete/{{article.pk}}" class="btn btn-danger">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                <span><strong>Delete</strong></span>
            </a>

        </div>

    </div>

</div>
{% endfor %}
{% else%}
<p>Your not logged in</p>
{% endif %}
{% endblock %}